
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

:root{
    --primary: rgb(255, 0, 119);
    --dark: rgb(44, 1, 19);
    --nav:white;
    --secondary:#1efff4;
    
}

body{
    background-color: rgb(26, 26, 26);
   
}

/*CSS HOME */

/*CSS DIV HOME PAGE*/


.home-page{   
    padding:30px 40px 30px 40px;
    font-family: var(--fontfamily);
    width: 100%;
    height: 100vh;    
    background-image:linear-gradient(to bottom, rgba(12, 12, 12, 0.973), rgba(22, 22, 22, 0.856)), url(images/img.jpg) ;   
    background-size: cover;
    background-position: center;
       
}

.nav{
    
    display: flex;
    justify-content: space-between;   
}

.navbar.active{
    display: block;
}


.mylogo{
    color:var(--nav);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
}

.navbar a{
    color:var(--nav);
    text-decoration: none;
    font-size: 20px;         
    margin-left: 35px;     
    transition: .2s; 
}

.navbar a:hover,
.navbar a.home
{
    color: var(--primary);
}


.home-content{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    padding: 0 10%;        
    background-size: 100%; 
    text-align: center;
}


.home-content hr{    
    margin-top: 20px;
    border: 1px solid var(--primary);
}


.home-details h1{
    color: rgb(255, 255, 255);
    font-size:50px;
    font-weight:600;
}

.home-details h4{    
    margin-bottom: 20px;
    font-size:20px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    letter-spacing: 20px;
}

.social-media-icons{
    margin-top: 40px;
}

.social-media-icons a{
    font-size:35px;
    color:var(--primary);
    letter-spacing: 10px;
    transition: .2s;
}

.social-media-icons a:hover{
    color: white;   
}


/*CSS SECTION SOCIAL MEDIA ICONS*/
.Service-Details{
    padding:30px 40px 30px 40px;
}

.Service-Details h1{   
    margin-top: 50px;
    margin-bottom: 60px;
    color: white;
    font-size: 50px;   
    justify-content: center;
    align-items: center;    
    text-align: center;
    
 }
 
 .Service-Details h3,p{   
    color: white        
}
  
.services-container{
    justify-content: center;
    align-items: center;    
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
} 

.services-box{
    flex: 1 1 30rem;
    background: linear-gradient(to right, rgb(41, 41, 41), rgb(0, 0, 0),rgb(26, 26, 26));
    padding:3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 3px solid var(--primary);
    transition: .5s ease;
    
}

.services-box:hover{
    border-color:rgb(255, 0, 140) ;  
    transform: scale(1.02);
}


.services-box i {
    font-size: 5rem;
    color: rgb(255, 255, 255);
}


.btn{
    margin-top: 50px;
    display: inline-block;
    padding:5px 8px;
    background: #ff0080;
    border-radius: 6px;
    box-shadow: 0 0 10 #ff0080 ;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: .5s ease;
    text-decoration: none;
    border: 2px solid white;
}

.btn:hover{
    background: #4e0229;
    box-shadow: none;
}

 /*End Services Css*/

/*Portfolio Css*/

.portfolio{
    padding:30px 40px 30px 40px;
}

.portfolio h1{   
    margin-top: 40px;
    margin-bottom:40px;
    color: white;
    font-size: 50px;   
    justify-content: center;
    align-items: center;    
    text-align: center;   
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    border: 2px solid var(--primary);
    overflow: hidden;    
    display: flex;
}

.portfolio-box:hover{
    border-color: rgb(255, 0, 128);
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;   
}

.portfolio-box:hover img{
    transform: scale(1.1);   
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    background: linear-gradient(rgba(0,0,0, .1),#0f0f0f);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
    transform: translateY(100%);
    transition: .5s;
}


.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
    
}

.portfolio-layer h4{
    font-size: 20px;
    color: aliceblue;
    font-weight: 700;
}

.portfolio-layer p{
    font-size: 13px;
    margin: 40px 30px 10px;
}

/*End Of The Portfolio Css*/

/*Contact Me Css*/

.contact-details{
    padding:30px 40px 30px 40px;     
}


.contact-details h1{
    margin-top: 40px;
    margin-bottom:40px;
    color: white;
    font-size: 50px;   
    justify-content: center;
    align-items: center;    
    text-align: center;  
}

.contact-details form{
    max-width: 800px;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 20px; 
    padding:30px 40px 30px 40px;  
    border: 2px solid var(--primary);
    border-radius: 20px;
}


.input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.contact-details form .input-box input,
.contact-details form  textarea {
    width: 100%;
    padding: 5px;
    font-size:15px;
    color:  rgb(5, 5, 5);
    background:linear-gradient(rgba(0,0,0, .1),#000000);
    border-color: rgb(255, 0, 128);
    border-radius: 10px;
    margin:.7rem 0;
}

.contact-details form .input-box input{
    width: 49%;
}

.contact-details textarea {
    resize: none;
}

.contact-btn{
    margin-top: 20px;
    display: inline-block;
    padding:5px 8px;
    background: #dbdbdb;
    border-radius: 6px;
    box-shadow: 0 0 10 #474747 ;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: .5s ease;
    text-decoration: none;
    border: 2px solid white;    
}

.contact-btn:hover{
    background: #ffffff;
    box-shadow: none;
    color: var(--primary);
}

/*End Of Contact Me Css*/

/*Footer Css*/

.footer{       
    margin-top: 100px;
    z-index: 100;   
    padding:30px 40px 30px 40px;    
    
}

.footer-sec{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: aliceblue;
    font-family:"Segoe UI";   
    border: 2px solid var(--primary);
    padding:30px 40px 30px 40px;   
    border-radius: 20px;
}


.text{
    color:white;
    font-size: 15px;
}

.footer-pages a:hover,
.web-projects a:hover,
.graphic-projects a:hover{
    color:var(--primary);    
}

 
.footer-social-media{
    margin-top: 20px;
}


.footer-social-media a{   
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: transparent;      
    font-size:20px;
    width:3rem;
    height: 3rem; 
    margin-left:5px;    
}

.footer-social-media a:hover{
    color:var(--primary) ;
    border-color: rgb(255, 0, 128);       
}


.footer-pages,
.web-projects,
.graphic-projects{
    margin-top: 10px;
}

.footer-pages a,
.web-projects a,
.graphic-projects a{
    text-decoration: none;
    display:grid;
}

.fotter-bottom{
    justify-content: space-between;
    margin-top: 100px;
    display:flex;   
    align-items: center;
}

.fotter-bottom p{
    color: aliceblue;
    font-size: 15px;
}


.footer-icontop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(rgba(0,0,0, .1),#4e0229);
    border: 3px solid rgb(194, 173, 186);
    border-radius: 10px;
    
}

.footer-icontop a i {
    font-size: 25px;
    color: #ffffff;
}

/*End Of Footer Css*/

/****************************************
*****************************************
*****************************************
****************************************/

/*BREAKPOINTS*/

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
    #menu-open{   
        display: inline-block;    
        background: transparent;
        font-size:2.5rem;
        color: #ffffff;
        cursor: pointer;
    }   

    #menu-close{
        display: none;
        background: transparent;
        font-size:2.5rem;
        color: #ffffff;
        cursor: pointer;
    }

    .navbar{
        position:fixed;
        top: 80px;       
        right: 5%;  
        width:40%;      
        flex-direction: column;
        background: black;
        display: none;  
        
    }
    .navbar a{  
        display: block;
        font-size: 15px;
        margin: 20px -60px ;                           
        display: grid;      
        place-items: center;  
    }
    
    .home-details h4{        
        font-size:10px;
        letter-spacing: 5px;
    }

    .home-details h1{        
        font-size:15px;
        margin-bottom: 10px;
    }   

    .social-media-icons a{
        font-size: 20px;        
    }

    .portfolio-container{
        grid-template-columns: 1fr;        
    }

    .footer-pages,
    .web-projects,
    .graphic-projects,
    .text,
    .footer-sec{        
        display: none;
    }
    

}

/* Medium screen devices (768px and above) */
@media (min-width:595px) and (max-width:1024px){
    #menu-open{   
        display: inline-block;    
        background: transparent;
        font-size:2.5rem;
        color: #ffffff;
        cursor: pointer;
    }   

    #menu-close{
        display: none;
        background: transparent;
        font-size:2.5rem;
        color: #ffffff;
        cursor: pointer;
    }

    .navbar{        
        position:fixed;
        top: 80px;       
        right: 5%;  
        width:40%;      
        flex-direction: column;
        background: black;
        display: none;  
        
    }
    .navbar a{          
        display: block;
        font-size: 20px;
        margin: 20px -60px;                           
        display: grid;      
        place-items: center;  
    }

    .home-details h4{        
        font-size:10px;
        letter-spacing: 15px;
    }

    .home-details h1{        
        font-size:40px;
    }   
     
    .social-media-icons a{
        font-size: 30px;        
    }
    
    .portfolio-container{
        grid-template-columns: 1fr 1fr;
    }

    .footer-pages,
    .web-projects,
    .graphic-projects,
    .text,
    .footer-sec{        
        display: none;
    }


}


/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1025px) {    
    #menu-open,#menu-close{
        display: none;
    }
        
    .home-details h1{        
        font-size:50px;
        font-weight:600;
    }
    
    .home-details h4{           
        font-size:20px;
        font-weight: 300;        
        letter-spacing: 20px;
    }
    
}    

